<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macgong.test"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="StartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".ServiceClass" >
            <intent-filter>
                <action android:name="com.macgong.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity_Loading"
            android:label="@string/title_activity_loading" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_AdminLogin"
            android:label="@string/title_activity_admin_login" >
        </activity>
        <activity
            android:name=".Activity_Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".Activity_Search"
            android:label="@string/title_activity_search_acrivity" >
        </activity>
    </application>

</manifest>